<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "@id": "{{ client.domain }}/#business",
        "name": "{{ client.name }}",
        {% if preloadImg %}"image": "{{ client.domain }}{{ preloadImg }}",{% endif %}
        "telephone": "{{ client.phoneForTel }}",
        "email": "{{ client.email }}",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "{{ client.address.lineOne }}",
            "addressLocality": "{{ client.address.city }}",
            "addressRegion": "{{ client.address.state }}",
            "addressCountry": "{{ client.address.country }}"
        },
        "areaServed": "{{ client.serviceArea }}",
        "openingHours": ["{{ client.hours.weekdays }}"],
        "hasMap": "{{ client.googleBusiness }}",
        "url": "{{ client.domain }}",
        "sameAs": ["{{ client.socials.facebook }}"]
    }
</script>
