<!-- ============================================ -->
<!--                     FAQ                    -->
<!-- ============================================ -->

<section id="RPsbs-313">
        <div class="cs-container" style="display: flex; justify-content: start; align-items: flex-start;">
            
            <!-- Left Image Section -->
            <div class="cs-content" >
    <span class="cs-topper">FAQ</span>
    <h2 class="cs-title">Frequently Asked Questions</h2>
                <!-- <p class="cs-text">
                    Squad V Plumbing Inc. has proudly served Edmonton for over 7 years,
                     providing dependable plumbing and gasfitting for homes, renovations,
                      commercial facilities, property managers, and builders. Led by Eugene
                       Vista, a Journeyman Plumber and Certified Gasfitter, our team ensures
                        every project is completed safely, efficiently, and up to code.
                    We handle everything from new-build rough-ins to basement improvements and hot water 
                    systems. Known for honesty, availability, and flexibility, we’ve worked with Wilvicson 
                    Global, Ardeco Design, Sehra Homes, and Weidner Apartments.

                </p>
                <div class="cs-quote">
                    <span class="cs-quote-text">
                        Eugene is passionate about mentoring young plumbers and staying ahead of industry innovations. His commitment to quality and customer satisfaction drives the company’s reputation for excellence.
                    </span>
                    <span class="cs-name">Eugene Vista</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="/assets/svgs/quote.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/about/" class="cs-button-solid">About Us</a> -->
            </div>
            
            <!-- Right Content Section-->
             <section id="services-01" class="w-[80%] lg:w-[50%]" style="margin: 24px auto 32px auto;">
        <div class="cs-container">
            

            <div class="cs-services-accordion" >

                <!-- Plumbing -->
                <div class="cs-service-category">
                    <button class="cs-accordion-toggle" >How do I know if I need a new water heater or repair?</button>
                    <ul class="cs-accordion-content">
                        <li>If your hot water tank or tankless heater isn’t heating properly, 
                            is leaking, or making unusual noises, we can inspect it and recommend repair or replacement.</li>
                    </ul>
                </div>

                <!-- Renovation -->
                <div class="cs-service-category">
                    <button class="cs-accordion-toggle">Do you handle emergency plumbing services?</button>
                    <ul class="cs-accordion-content">
                        <li>Yes! We offer 24/7 emergency plumbing for residential and 
                            commercial properties, including leaks, broken pipes, and water heater issues.</li>
                    </ul>
                </div>

                <!-- Concrete -->
                <div class="cs-service-category">
                    <button class="cs-accordion-toggle">Can you do basement rough-ins during renovations?</button>
                    <ul class="cs-accordion-content">
                        <li>Absolutely. We handle full basement plumbing rough-ins, 
                            tub/shower installations, and fixture setup for renovations or new construction.</li>
                    </ul>
                </div>

                <!-- Optional Highlighted Sections -->
                <div class="cs-service-category">
                    <button class="cs-accordion-toggle">Do you provide plumbing for new construction homes?</button>
                    <ul class="cs-accordion-content">
                        <li>Yes, we offer complete plumbing services for new builds, including
                             water supply, drainage, fixtures, and water heater installation.</li>
                    </ul>
                </div>
                <div class="cs-service-category">
                    <button class="cs-accordion-toggle">Are your plumbers certified and insured?</button>
                    <ul class="cs-accordion-content">
                        <li>Yes, we offer complete plumbing services for new builds, including
                             Yes. All our plumbers are licensed, certified, and insured, ensuring 
                             safe and professional work every time.</li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
            
        </div>
    </section>