<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-275">
    <div class="footer-container w-full flex flex-col justify-center items-center gap-6  md:flex-row md:justify-evenly md:items-start ">
        <div class="w-full flex flex-col justify-center items-start gap-4 md:items-start md:w-[25%]">
            <a href="/" class="cs-logo " aria-label="Company Name Home page">
                <img src="/assets/svgs/squadVlogo.png" alt="" width="210" height="29" aria-hidden="true" decoding="async">
            </a>
            <div class="cs-logo-group">
           
                <div class="cs-social">
                    <a class="cs-social-link" aria-label="visit facebook profile"
                    href="https://www.facebook.com/profile.php?id=61584653242384"
                    target="_blank" rel="noopener">
                        <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async"
                            src="/assets/svgs/facebook.svg" alt="facebook" width="11" height="11">
                    </a>

                    <a class="cs-social-link" aria-label="visit instagram profile"
                    href="{{ client.socials.instagram }}" target="_blank" rel="noopener">
                        <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async"
                            src="/assets/svgs/instagram.svg" alt="instagram" width="11" height="11">
                    </a>

                    <a class="cs-social-link" aria-label="visit tiktok profile"
                    href="{{ client.socials.tiktok }}" target="_blank" rel="noopener">
                        <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async"
                            src="/assets/svgs/tiktok.svg" alt="tiktok" width="11" height="11">
                    </a>

                    <a class="cs-social-link" aria-label="visit google profile"
                    href="https://maps.app.goo.gl/bgxAMTNBtFAxm4H47" target="_blank" rel="noopener">
                        <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async"
                            src="/assets/svgs/google.svg" alt="google" width="11" height="11">
                    </a>
                </div>
            </div>
            <div>
                 <p class="cs-text" style="color: black;">
                Squad V Plumbing and Heating Trusted Since 2018</p>
            </div>
           
        </div>

        <div class="w-full md:w-[25%]">
            <ul class="">
                <li class="">
                    <span class="cs-header" style="color: black;">Quick Links</span>
                </li>
                <li class="cs-nav-li"><a class="cs-nav-link" href="/" style="color: black;">Home</a></li>
                <li class="cs-nav-li"><a class="cs-nav-link" href="/plumbing/" style="color: black;">Plumbing Services</a></li>
                <li class="cs-nav-li"><a class="cs-nav-link" href="/renovation/" style="color: black;">Renovation & Improvement</a></li>
            </ul>
        </div>

        <div class=" w-full md:w-[25%]" >
            <ul class="">
                <!-- <li class="cs-nav-li"><a class="cs-nav-link" href="/concrete/" style="color: black;">Concrete & Support Work</a></li> -->
                <li class="cs-nav-li"><a class="cs-nav-link" href="/gallery/" style="color: black;">Gallery</a></li>
                <li class="cs-nav-li"><a class="cs-nav-link" href="/contact/" style="color: black;">Contact</a></li>
            </ul>
        </div>
    
        <div class="w-full md:w-[25%]">
            <ul class="">
                        <li class="cs-nav-li">
                            <span class="cs-header" style="color: black;">Contact</span>
                        </li>

                    <a class="flex gap-2 justify-start items-center lg:gap-4" style="padding-bottom: 10px;">
                            <img src="/assets/favicons/icons8-clock-26.png" class="w-5 h-5"><p>Monday – Friday, 7 AM – 5 PM</p>
                        </a>
                        <a class="flex gap-2 justify-start lg:gap-4 items-center"  style="padding-bottom: 10px;">
                            <img src="/assets/favicons/icons8-phone-48.png" class="w-5 h-5"><p>780-667-7169</p>
                        </a>
                        <a class="flex gap-2 lg:gap-4 justify-start items-center" style="padding-bottom: 10px;">
                            <img src="/assets/favicons/icons8-email-50.png" class="w-5 h-5"><p>SQUADV726@gmail.com</p>
                        </a>
                        <a class="flex gap-2 justify-start lg:gap-4  items-center" style="padding-bottom: 10px;">
                            <img src="/assets/favicons/icons8-location-50.png" class="w-5 h-5"><p>432 Dunluce Rd.<br class="lg:hidden">
                                NW, Edmonton, AB</p>
                        </a>
                    </ul>

                </div>
                
                   
        </div>

           
            <!-- </p>
            <a class="flex gap-2 justify-start items-center">
                <img src="/assets/favicons/icons8-clock-26.png" class="w-5 h-5"><p>Monday – Friday, 7 AM – 5 PM</p>
            </a>
            <a class="flex gap-2 justify-start items-center">
                <img src="/assets/favicons/icons8-phone-48.png" class="w-5 h-5"><p>(587) 340-4059</p>
            </a>
            <a class="flex gap-2 justify-start items-center">
                <img src="/assets/favicons/icons8-email-50.png" class="w-5 h-5"><p>SQUADV726@gmail.com</p>
            </a>
             <a class="flex gap-2 justify-start items-center">
                <img src="/assets/favicons/icons8-location-50.png" class="w-5 h-5"><p>432 Dunluce Rd.<br>
                    NW, Edmonton, AB</p>
            </a> -->
     

        <!-- Quick Links -->
        

        <!-- Contact Info -->
        
    </div>
     <div class="w-full h-[3px] bg-[var(--primary)]"></div>
        <div class="w-full flex flex-col md:flex-row items-center justify-evenly gap-4 py-6">
            <!-- Left Section -->
            <p class="text-black">
                © Copyright 2025 SquadV Plumbing & Heating  
                  I Digital Marketing by 
               <a href="https://www.facebook.com/bespokewebdesignEdmonton/" class="text-blue-700 hover:underline" target="_blank" rel="noopener noreferrer">
    Bespoke Web Design Edmonton
</a>

            </p>

            <!-- Right Section -->
            <div class="flex items-center gap-3">
                <a href="/privacy-policy/" class="text-blue-700 hover:underline">Privacy Policy</a>
                <span>|</span>
                <a href="/terms-of-service/" class="text-blue-700 hover:underline">Terms Of Service</a>
            </div>
        </div>
</footer>
