
    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-67" style="padding: 40px 16px;border-bottom: 3px var(--primary) solid;">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Reviews</span>
                <h2 class="cs-title">
                    Words From Our Customers
                </h2>
                <p class="cs-text">
Hear directly from our happy customers! Discover their experiences, feedback, and stories about how our services made a difference.                </p>
            </div>
            <ul class="cs-card-group"> 
                <!-- Review 1 -->
                <li class="cs-item">
                    <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="profile picture" width="80" height="80">
                    <p class="cs-item-text">
Hear directly from our happy customers! Discover their experiences, feedback, and stories about how our services made a difference.                    </p>
                    <div class="cs-info">
                        <div class="cs-flex-group">
                            <span class="cs-name">Martin S.</span>
                            <!-- <span class="cs-desc">Homeowner</span> -->
                        </div>
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="96" height="16">
                    </div>
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="profile picture" width="80" height="80">
                    <p class="cs-item-text">
Professional and quick response! Definitely recommend the services to my friends.”                    </p>
                    <div class="cs-info">
                        <div class="cs-flex-group">
                            <span class="cs-name">Paul Vista</span>
                        </div>
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="96" height="16">
                    </div>
                </li>
                <li class="cs-item">
                    <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="profile picture" width="80" height="80">
                    <p class="cs-item-text">
•	“Prompt and professional! Our furnace modulating gas valve did not work since Thursday night. I contacted other furnace company and tried to sell me a new furnace. I found Eugene Friday night. I messaged him at 12 midnight and 
he responded soon. We got it replaced in 30 minutes. Thank you so much for the awesome service!”                    <div class="cs-info">
                        <div class="cs-flex-group">
                            <span class="cs-name">Kuh Chellica Lacabe</span>
                        </div>
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="96" height="16">
                    </div>
                </li>
            </ul>
            <a href="https://maps.app.goo.gl/VtEDBALDnB9wpTke6" class="cs-button-solid" style="border-radius: 20px;">
             <span class="hidden md:inline"> Click here for more Reviews </span>
             <span class="md:hidden">See More Reviews</span>
            </a>
        </div>
    </section>
